In [1]:
import requests
import pandas as pd

In [2]:


# download CSV file
url = "https://raw.githubusercontent.com/ironhack-edu/technical_challenge_DA/master/data/measurements.csv"
response = requests.get(url)
open("measurements.csv", "wb").write(response.content)

# download Excel file
url = "https://github.com/ironhack-edu/technical_challenge_DA/raw/master/data/measurements2.xlsx"
response = requests.get(url)
open("measurements2.xlsx", "wb").write(response.content)

27500

In [4]:
# Read in the data
csv_data = pd.read_csv('measurements.csv')
xlsx_data = pd.read_excel('measurements2.xlsx')

# Check if both dataframes are equal
print(csv_data.equals(xlsx_data))

False

In [5]:
csv_data.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [6]:
xlsx_data = pd.read_excel('measurements2.xlsx', sheet_name=0)
xlsx_data.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN

In [7]:
csv_data.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill liters    object
refill gas       object
dtype: object

In [8]:
xlsx_data.dtypes

distance         float64
consume          float64
speed              int64
temp_inside      float64
temp_outside       int64
specials          object
gas_type          object
AC                 int64
rain               int64
sun                int64
refill liters    float64
refill gas        object
dtype: object

In [10]:
csv_data.isna().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [11]:
csv_data.shape

(388, 12)

In [12]:
xlsx_data.isna().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [13]:
xlsx_data.shape

(388, 12)

In [ ]:
# Clean up the CSV data
csv_data['distance'] = csv_data['distance'].str.replace(',', '.').astype('float64')
csv_data['consume'] = csv_data['consume'].str.replace(',', '.').astype('float64')
csv_data['temp_inside'] = csv_data['temp_inside'].str.replace(',', '.').astype('float64')
csv_data = csv_data.drop(columns=['refill gas'])
csv_data['refill liters'] = csv_data['refill liters'].str.replace(',', '.').astype('float64')